h3
{
	color: #ef0000;
}

.contenu
{
	text-align: justify;
}

.assoc-img 
{
	padding-right: 1em;
	max-height: 200px;
	max-width: 200px;
}

.sponsor-img 
{
	width: 100%;
	max-width: 400px;
	margin-bottom: 15px;
}

.col-image
{
	text-align: center;
}

.col-image > img
{
	margin-bottom: 2px;
}

.assoc-logo 
{
	padding-right: 1em;
	width: 20%;
	max-width: 150px;
	/*margin-left: 50px;*/
}

@media (min-width: 768px) {
	.contenu
	{
		padding: 0 0 0 2em;
	}
}