/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
#carousel {
  height: 500px;
  margin-bottom : 10px;
}

#carousel > .carousel-inner {
  height: 100%;
}

.carousel {
  margin-top: 20px;
}

#carousel .item {
  height: 500px;
  background-color: #ffffff;
  text-align: center;
}

.item .thumb {
  width: 12.5%;
  cursor: pointer;
  float: left;
}

.item .thumb img {
  width: 95%;
  margin: 2px;
}

.carousel-inner>.item>img {
  margin: auto;
  max-width: 80%;
  max-height: 100%;
}

.carousel-control.right, .carousel-control.left {
  background-image:none;
}

.carousel-control:hover,
.carousel-control:focus,
.carousel-control {
  color: #ef0000;
  width: 5%;
}

