.btn
{
	margin: 5px 5px;
	padding: 6px 0px;
	border-width: 2px;
	white-space: normal;
	font-size: medium;
	font-weight: bold;
	max-width: 200px;
	border-radius: 0px;
	color: #ffffff;
}

.btn-membre
{
	background-color: #ff4444;
	border-color: #ececec;
}

.btn-don
{
	background-color: #ff6666;
	border-color: #ececec;
}

.btn-newsletter
{
	background-color: #ff8888;
	border-color: #ececec;
}
