/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@import url(http://weloveiconfonts.com/api/?family=zocial);


/** {
    border: 1px solid red !important;
}*/


body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.container {
  padding-right: 5px;
  padding-left: 5px;
}

.a-agenda {
  color:#ef0000;
  font-size: 12px;
  margin-bottom: 0px;
}

/* CUSTOMIZE THE SOCIAL ICON
-------------------------------------------------- */

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  font-size: 12px;
}

.social{
  margin: 0 auto;
  max-width: 50em;
  text-shadow: 3px 3px 3px #aaa;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  /*position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  margin: auto;*/
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-logo {
  width: 100px;
}

.sub-item-menu{
  padding-left: 1em;
}

.navbar-wrapper,
.dropdown-menu {
  font-size: 16px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-caption > h1 {
  color: #ef0000;
}
.carousel-caption > p {
  color: #000000;
  text-shadow: none;
}

.carousel-caption h1 {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.0;
}

.carousel-caption p {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.0;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #ffffff;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 5%;
  min-width: 70%;
  max-width: 70%;
  height: 500px;
}

.carousel-control.right, .carousel-control.left {
  background-image:none;
}

.carousel-control:hover,
.carousel-control:focus,
.carousel-control {
  color: #ef0000;
  width: 5%;
}

.carousel-indicators > li {
  background-color: #ef0000;
}

.carousel-indicators .active {
  background-color: #ff7777;
}

.carousel-caption {
  left: 1%;
  right: 5%;
  bottom: 20px;
  padding-bottom: 0;
  padding-left: 75%;
}

/*PARTENAIRE CSS
-------------------------------------------------- */
.partenaires > a > img {
  width: 40px;
  margin-left: 8px;
  margin-right: 8px;
}


/*AGENDA CSS
-------------------------------------------------- */
.calendar {
  display: block;
  margin: auto;
  min-width: 80%;
  max-width: 80%;
  height: 400px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .a-agenda {
  font-size: 14px;
  }

  .navbar-logo {
    width: 120px;
  }

  .navbar-nav {
    margin-top: 27px;
  }

  .navbar-nav > li > a
  {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar {
    min-height: 30px;
  }

  .navbar-nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .carousel-caption h1 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 1.0;
  }

  .carousel-caption p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.0;
  }

  .partenaires > a > img {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 998px) {
   .container {
    width: 998px;
  }

  .navbar-wrapper,
  .dropdown-menu,
  .dropdown-header,
  [class*="zocial-"]:before {
    font-size: 13px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-nav {
    margin-top: 42px;
  }

  .navbar-logo {
    width: 160px;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .navbar-nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Bump up size of carousel content */
  .carousel-caption h1 {
    font-size: 30px;
  }

  .carousel-caption p {
    font-size: 20px;
  }

  .partenaires > a > img {
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
