p{
	color: black;
}

h2, h4{
	color: #ef0000;
}

h2{
	text-align: center;
}

.project-image{
	display: block;
	margin: auto;
}

.project-description, .project-cout{
	text-align: justify;
}

figcaption{
	text-align: center;
	font-size: 12px;
}

td{
	text-align: center;
}

table{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}