body{
	color: black;
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

.list-articles, a{
	color: #ef0000;
	padding: 0px 0px;
}

.titre-articles{
	color: #ef0000;
}

.date-articles
{
	font-style: italic;
	font-size: 10px;
}
.desc-articles{
	text-align: justify;
}

figcaption{
	text-align: center;
	font-size: 12px;
}

.col-img {
	text-align: center;
}

.image-articles{
	max-width: 100%;
}