body{
	color: black;
}

.list-articles, a{
	color: #ef0000;
	padding: 0px 0px;
}

.titre-articles{
	color: #ef0000;
}

.date-articles
{
	font-style: italic;
	font-size: 10px;
}
.desc-articles{
	text-align: justify;
}

figcaption{
	text-align: center;
	font-size: 12px;
}

td{
	text-align: center;
}

table{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

/*.image-articles{
	max-width: 260px;
}*/